<header class="glass-header">
    <a href="https://discord.gg/VdWNBmcVGY" target="_blank" rel="noopener noreferrer">
        <img src="assets/logo-chama.png" alt="Chama Logo" class="logo">
        <h5 class="header-title">Coletivo Chama!</h5>
    </a>
</header>

<main class="container">
    <h1 class="title">INCOMODE QUEM TENTA<span class="gradient-text"> NOS ELIMINAR</span></h1>
    <button class="info-btn" (click)="openModal()">Entenda a situação</button>
    <button class="info-btn" (click)="openFormModal()">CHAMA PRA RUA!</button>
    <button class="info-btn" (click)="openSaoCarlos()">Versão para São Carlos</button>
    
    
    <div class="google-login-container">
        <button class="google-login-btn" (click)="signInAndAuthorize()">
            <img src="https://www.gstatic.com/images/branding/googleg/1x/googleg_standard_color_32dp.png" alt="Google logo">
            <span>Entrar com Google</span>
        </button>
    </div>
    <div *ngIf="loggedIn" class="logged-in-message">
        <p>Você está logado e autorizado a enviar emails.</p>
    </div>

    <h3 class="section-title">Qual o seu estado?</h3>
    <div class="state-selector">
        <button *ngFor="let state of states" 
            class="state-btn" 
            [class.active]="selectedState === state"
            (click)="selectState(state)"
            [attr.data-state]="state">
          {{ state }}
        </button>
    </div>

    <h3 class="section-title">Quem incomodar?</h3>
    <div class="category-selector glass-panel">
        <label class="checkbox-container">
            <input type="checkbox" [(ngModel)]="CRMOption">
            <span class="checkmark"></span>
            CFM e CRM
        </label>
        <label class="checkbox-container">
            <input type="checkbox" [(ngModel)]="PoliticosOption">
            <span class="checkmark"></span>
            POLITICOS
        </label>
    </div>

    <button class="submit-btn pulse" (click)="onSubmit()">INCOMODAR!</button>
    <footer class="footer-text">© Nós não possuímos copyright! Coletivo Chama! © Esse site não faz disparos em massa, nós apenas compilamos as informações públicas de contato das pessoas desejadas por estado para facilitar o contato da população geral com seus políticos e provemos uma base argumentativa estruturada com aspectos técnicos para adequadamente transmitir a ideia. Reforçamos que o termo eliminar refere-se ao contexto das mudanças nas politicas publicas que sabidamente tem um grande impacto na mortalidade da população transgênera e travesti, portanto não imputamos a nenhuma das pessoas contactadas por esses emails que estejam ativamente/individualmente tomando atos contra pessoas trans. Trazemos no entanto pedidos de que ativamente lutem por nossa causa.</footer>
    <!-- Modal -->
    <div class="modal" *ngIf="showModal">
        <div class="modal-content">
            <span class="close" (click)="closeModal()">&times;</span>
            <h2>Entenda a situação</h2>
            <p>Recentemente o CFM lançou resolução 2.427/2025 que culminou na paralização de novos atendimentos no ambulatório trans.</p>
            <p>Os impactos dessa decisão são devastadores e incluem:</p>
            <ul>
                <li>Aumento da idade mínima para fazer terapia hormonal para 18 anos.</li>
                <li>Aumento da idade mínima para fazer cirurgias relacionadas a transição de gênero para 21 anos.</li>
                <li>Aumento na burocracia para se conseguir atendimento no sistema de saúde público para transição hormonal, praticamente impossibilitando novos atendimentos.</li>
            </ul>
            <p>É essencial que as pessoas saiam as ruas essa semana para lutar contra essa medida. Atos nacionais foram convocados dia 24 e 25 por todo o Brasil. Para saber mais sobre as convocações, entre em contato com organizações sociais de sua região ou entre em nosso discord abaixo para falar conosco diretamente.</p>
            <div class="modal-links">
              <a href="https://discord.gg/VdWNBmcVGY" target="_blank" rel="noopener noreferrer" class="modal-btn discord-btn">Discord!</a>
              <a href="https://chng.it/8q8hr8YKS5" class="modal-btn nota-btn">Nota de repúdio!</a>
            </div>
        </div>
    </div>
    <div class="modal" *ngIf="showFormModal">
        <div class="modal-content">
            <span class="close" (click)="closeFormModal()">&times;</span>
            <h2>CHAMA PRA RUA</h2>
            <div class="modal-body" style="max-height: 70vh; overflow-y: auto;">
                <p>Esse é o MVP da nossa plataforma para organização de manifestações, o "Chama pra Rua", nosso objetivo é testar uma estrutura organizacional que possa ser replicada para diversas lutas que vão além da nossa pauta atual, isso vai imensamente auxiliar na construção de atos e movimentos, para que possamos recrutar cada vez mais pessoas para nossa luta contra a LGBTQIAP+ fobia e todas as pautas que também tangenciam a nossa luta enquanto população trabalhadora que reivindica seus direitos, por saúde, por respeito, por educação, coisas que vão muito além do que a nossa luta atual contra o CFM. Precisamos unir todos, todas e todes em um grande grupo unido para pautarmos coisas que tem impacto direto em nossas vidas. Chama geral pra rua!</p>
                <p>Esse é o formulário para quem deseja participar dos grupos municipais, quem quiser APENAS participar dos atos e não organizar diretamente preencha este formulário também pois usaremos isso para montar os grupos de whatsapp/telegram de comunicação em cada município (os organizadores do município votarão qual meio de comunicação mais adequado)</p>
                <div class="modal-links">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfycwQNi89BKNlEjWTeabMT-kIiMSMCplYW2mwQQoHYThKOAA/viewform?usp=sharing" class="modal-btn nota-btn">Form municipal</a>
                </div>
                <p>Este é o formulário para quem deseja compor na militância a nível nacional, compondo uma estrutura entre muitos coletivos com o objetivo de integrar os movimentos LGBTQIAPN+ de todo o brasil em uma frente que ajudará os municípios, podendo trazer a opinião de todes e termos espaços coletivos para a fala. Neste formulário você pode escolher em qual área quer estar nas composições nacionais - Na área de integração, de comunicação ou de relações externas, a função de cada comissão está melhor explicada no formulário e foi deliberada na reunião do dia 02/05.</p>
                <div class="modal-links">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdwtW1aSgKOY01xiTRgwAdflm6d9s-xQHcDzrDndkDEheKhYQ/viewform?usp=sharing" class="modal-btn nota-btn">Form nacional</a>
                </div>
            </div>
        </div>
    </div>
</main>

<ngx-particles [id]="id"></ngx-particles>

<script src="https://accounts.google.com/gsi/client"></script>
